In [1]:
import pandas as pd

In [2]:
d = {'1':'vivwk','2':'vivek1','3':'vivek3'}

In [5]:
d=pd.Series(d)

In [6]:
d

1     vivwk
2    vivek1
3    vivek3
dtype: object

In [7]:
d.iloc[0:3]

1     vivwk
2    vivek1
3    vivek3
dtype: object

In [10]:
d.iloc[0:2]

1     vivwk
2    vivek1
dtype: object

In [11]:
d=pd.DataFrame(d)

In [12]:
d

        0
1   vivwk
2  vivek1
3  vivek3

In [34]:
d=pd.DataFrame([['vivek':'giri'],
              ['vivek1':'giri1']])

SyntaxError: invalid syntax (54247595.py, line 1)

In [31]:
d

                                      0
0  {'vivek': 'giri', 'vivek1': 'giri1'}

In [26]:
d=d.rename(mapper=lambda x:x.upper(),axis=1)

AttributeError: 'int' object has no attribute 'upper'

In [22]:
d=d.rename(mapper=lambda x:x.upper(),axis='columns')

AttributeError: 'int' object has no attribute 'upper'

In [39]:
df= pd.DataFrame({'gre_score':[337,324,316,322,314],
             'toe':[118,107,104,110,103]})

In [40]:
df

   gre_score  toe
0        337  118
1        324  107
2        316  104
3        322  110
4        314  103

In [42]:
df.where(df['toe']>105).dropna()

   gre_score    toe
0      337.0  118.0
1      324.0  107.0
3      322.0  110.0

In [43]:
df[df['toe']>105]

   gre_score  toe
0        337  118
1        324  107
3        322  110

In [44]:
df.where(df['toe']>105)

   gre_score    toe
0      337.0  118.0
1      324.0  107.0
2        NaN    NaN
3      322.0  110.0
4        NaN    NaN

In [47]:
df=pd.DataFrame({'one':[0,4,8,12],
               'two':[1,5,9,13],
               'three':[2,6,10,14],
               'four':[3,7,11,15]},index=['ohio','colorado','utah','newyork'])

In [48]:
df

          one  two  three  four
ohio        0    1      2     3
colorado    4    5      6     7
utah        8    9     10    11
newyork    12   13     14    15

In [53]:
df.drop('one',axis=1)

          two  three  four
ohio        1      2     3
colorado    5      6     7
utah        9     10    11
newyork    13     14    15

In [51]:
df.drop(['utah','colorado'])

         one  two  three  four
ohio       0    1      2     3
newyork   12   13     14    15

In [56]:
df.drop('ohio')

          one  two  three  four
colorado    4    5      6     7
utah        8    9     10    11
newyork    12   13     14    15

In [65]:
data1=pd.Series({'1':'vivwk','2':'vivek1','3':'vivek3'})
data2=pd.Series({'vivk':'1','vivek':'2','vik3':'3'})

In [66]:
data1

1     vivwk
2    vivek1
3    vivek3
dtype: object

In [67]:
data2

vivk     1
vivek    2
vik3     3
dtype: object

In [68]:
data2[1]

'2'

In [70]:
data2.loc[1]

KeyError: 1

In [72]:
data1.iloc[1]

'vivek1'

In [74]:
data2.loc[1]

KeyError: 1

In [75]:
data1.append(data2)

C:\Users\qw\AppData\Local\Temp\ipykernel_8100\2633038288.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data1.append(data2)

1         vivwk
2        vivek1
3        vivek3
vivk          1
vivek         2
vik3          3
dtype: object

In [80]:
data1

1     vivwk
2    vivek1
3    vivek3
dtype: object

In [83]:
data1.loc([1],axis=1)

TypeError: __call__() got multiple values for argument 'axis'

In [84]:
import numpy

In [95]:
ser1= pd.Series([1,2,3,4],['usa','germany','japan','ussr'])

In [96]:
s

usa        1
germany    2
japan      3
ussr       4
dtype: int64

In [97]:
ser2=pd.Series([1,2,3,4],['v','f','j','h'])

In [98]:
ser2

v    1
f    2
j    3
h    4
dtype: int64

In [99]:
s[1]

2

In [100]:
ser2['v']

1

In [101]:
ser3=pd.Series([1,2,3,4],['s','w','e','p'])

In [102]:
ser3

s    1
w    2
e    3
p    4
dtype: int64

In [106]:
import numpy as np
from numpy.random import randn

In [107]:
np.random.seed(101)

In [160]:
df1= pd.DataFrame(randn(5,4),['a','b','c','d','e'],['w','x','y','z'])

In [109]:
df1

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [110]:
df['w']

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: w, dtype: float64

In [112]:
df[['w','x']]

          w         x
a  2.706850  0.628133
b  0.651118 -0.319318
c -2.018168  0.740122
d  0.188695 -0.758872
e  0.190794  1.978757

In [113]:
df['new']=df['w'] + df['y']

In [114]:
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  3.614819
b  0.651118 -0.319318 -0.848077  0.605965 -0.196959
c -2.018168  0.740122  0.528813 -0.589001 -1.489355
d  0.188695 -0.758872 -0.933237  0.955057 -0.744542
e  0.190794  1.978757  2.605967  0.683509  2.796762

In [116]:
df.drop('new',axis=1)

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [117]:
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  3.614819
b  0.651118 -0.319318 -0.848077  0.605965 -0.196959
c -2.018168  0.740122  0.528813 -0.589001 -1.489355
d  0.188695 -0.758872 -0.933237  0.955057 -0.744542
e  0.190794  1.978757  2.605967  0.683509  2.796762

In [118]:
df.drop('new',axis=1,inplace=True)

In [119]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [121]:
df.drop('e')

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057

In [122]:
df[['w','y']]

          w         y
a  2.706850  0.907969
b  0.651118 -0.848077
c -2.018168  0.528813
d  0.188695 -0.933237
e  0.190794  2.605967

In [123]:
df.loc['b']

w    0.651118
x   -0.319318
y   -0.848077
z    0.605965
Name: b, dtype: float64

In [124]:
df.loc['a']

w    2.706850
x    0.628133
y    0.907969
z    0.503826
Name: a, dtype: float64

In [127]:
df.loc['e']

w    0.190794
x    1.978757
y    2.605967
z    0.683509
Name: e, dtype: float64

In [159]:
df=df1

NameError: name 'df1' is not defined

In [131]:
df.loc['b','z']

0.6059653494949336

In [132]:
df.loc['c','y']

0.5288134940893595

In [135]:
df.loc[['a','b'],['w','z']]

          w         z
a  2.706850  0.503826
b  0.651118  0.605965

In [139]:
bool_df=df>0

In [141]:
df[bool_df]

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118       NaN       NaN  0.605965
c       NaN  0.740122  0.528813       NaN
d  0.188695       NaN       NaN  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [142]:
df[df>0]

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118       NaN       NaN  0.605965
c       NaN  0.740122  0.528813       NaN
d  0.188695       NaN       NaN  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [143]:
df['w']>0

a     True
b     True
c    False
d     True
e     True
Name: w, dtype: bool

In [144]:
df[df['w']>0]

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [158]:
df1

NameError: name 'df1' is not defined

In [147]:
df[df['z']<0]

          w         x         y         z
c -2.018168  0.740122  0.528813 -0.589001

In [148]:
df[df['w']>0]['x']

a    0.628133
b   -0.319318
d   -0.758872
e    1.978757
Name: x, dtype: float64

In [151]:
df[df['x']<0][['z','y']]

          z         y
b  0.605965 -0.848077
d  0.955057 -0.933237

In [164]:
df1[(df1['w']>1)] & df1[(df1['x']<1)]

       w      x      y      z
b  False  False  False  False
c  False  False  False  False
d  False  False  False  False

In [171]:
df1.reset_index()

  index         w         x         y         z
0     a  0.302665  1.693723 -1.706086 -1.159119
1     b -0.134841  0.390528  0.166905  0.184502
2     c  0.807706  0.072960  0.638787  0.329646
3     d -0.497104 -0.754070 -0.943406  0.484752
4     e -0.116773  1.901755  0.238127  1.996652

In [176]:
newind= 'vy nu bj mh ny '.split()
newind

['vy', 'nu', 'bj', 'mh', 'ny']

In [179]:
df1['states']= newind
df1

          w         x         y         z states
a  0.302665  1.693723 -1.706086 -1.159119     vy
b -0.134841  0.390528  0.166905  0.184502     nu
c  0.807706  0.072960  0.638787  0.329646     bj
d -0.497104 -0.754070 -0.943406  0.484752     mh
e -0.116773  1.901755  0.238127  1.996652     ny

In [180]:
df1.set_index('states')

               w         x         y         z
states
vy      0.302665  1.693723 -1.706086 -1.159119
nu     -0.134841  0.390528  0.166905  0.184502
bj      0.807706  0.072960  0.638787  0.329646
mh     -0.497104 -0.754070 -0.943406  0.484752
ny     -0.116773  1.901755  0.238127  1.996652

          w         x         y         z states
a  0.302665  1.693723 -1.706086 -1.159119     vy
b -0.134841  0.390528  0.166905  0.184502     nu
c  0.807706  0.072960  0.638787  0.329646     bj
d -0.497104 -0.754070 -0.943406  0.484752     mh
e -0.116773  1.901755  0.238127  1.996652     ny

In [152]:
df=pd.read_csv('NISPUF17.csv')

In [153]:
df.head()

,Unnamed: 0,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
0,1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,220011,22001,2,NaN,189.611299,1050,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0

In [169]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28465 entries, 0 to 28464
Columns: 454 entries, Unnamed: 0 to INS_BREAK_I
dtypes: float64(382), int64(32), object(40)
memory usage: 98.6+ MB

In [189]:
df=list(df)
df

['Unnamed: 0',
 'SEQNUMC',
 'SEQNUMHH',
 'PDAT',
 'PROVWT_D',
 'RDDWT_D',
 'STRATUM',
 'YEAR',
 'AGECPOXR',
 'HAD_CPOX',
 'AGEGRP',
 'BF_ENDR06',
 'BF_EXCLR06',
 'BF_FORMR08',
 'BFENDFL06',
 'BFFORMFL06',
 'C1R',
 'C5R',
 'CBF_01',
 'CEN_REG',
 'CHILDNM',
 'CWIC_01',
 'CWIC_02',
 'EDUC1',
 'FRSTBRN',
 'I_HISP_K',
 'INCPORAR',
 'INCPORAR_I',
 'INCPOV1',
 'INCQ298A',
 'LANGUAGE',
 'M_AGEGRP2',
 'MARITAL2',
 'MOBIL_I',
 'NUM_PHONE',
 'NUM_CELLS_HH',
 'NUM_CELLS_PARENTS',
 'RACE_K',
 'RACEETHK',
 'RENT_OWN',
 'SEX',
 'ESTIAP17',
 'EST_GRANT',
 'STATE',
 'D6R',
 'D7',
 'N_PRVR',
 'PROV_FAC',
 'REGISTRY',
 'VFC_ORDER',
 'HEP_BRTH',
 'HEP_FLAG',
 'P_NUHEPX',
 'P_NUHIBX',
 'P_NUHPHB',
 'P_NUMDAH',
 'P_NUMDHI',
 'P_NUMDIH',
 'P_NUMDTA',
 'P_NUMDTP',
 'P_NUMFLU',
 'P_NUMFLUL',
 'P_NUMFLUM',
 'P_NUMFLUN',
 'P_NUMHEA',
 'P_NUMHEN',
 'P_NUMHEP',
 'P_NUMHG',
 'P_NUMHHY',
 'P_NUMHIB',
 'P_NUMHIN',
 'P_NUMHION',
 'P_NUMHM',
 'P_NUMHS',
 'P_NUMIPV',
 'P_NUMMCN',
 'P_NUMMMR',
 'P_NUMMMRX',
 'P_NUMMMX',
 'P_NUMMP',
 'P_NUMMPR',
 'P_NUMMRV',
 'P_NUMMS',
 'P_NUMMSM',
 'P_NUMMSR',
 'P_NUMOLN',
 'P_NUMOPV',
 'P_NUMPCV',
 'P_NUMPCP',
 'P_NUMPCC',
 'P_NUMPCC7',
 'P_NUMPCC13',
 'P_NUMPCCN',
 'P_NUMPCN',
 'P_NUMPOL',
 'P_NUMRB',
 'P_NUMRG',
 'P_NUMRM',
 'P_NUMRO',
 'P_NUMROT',
 'P_NUMTPN',
 'P_NUMVRC',
 'P_NUMVRN',
 'P_NUMVRX',
 'P_U12VRC',
 'P_UTD331',
 'P_UTD431',
 'P_UTDHEP',
 'P_UTDHEPA1',
 'P_UTDHEPA2',
 'P_UTDHIB',
 'P_UTDHIB_ROUT_S',
 'P_UTDHIB_SHORT_S',
 'P_UTDMCV',
 'P_UTDMMX',
 'P_UTDPC3',
 'P_UTDPCV',
 'P_UTDPCVB13',
 'P_UTDPOL',
 'P_UTDROT_S',
 'P_UTDTP3',
 'P_UTDTP4',
 'PU431331',
 'P_UTD431H31_ROUT_S',
 'PU431_31',
 'PU4313313',
 'P_UTD431H313_ROUT_S',
 'PU4313314',
 'P_UTD431H314_ROUT_S',
 'PU431_314',
 'PUT43133',
 'P_UTD431H3_ROUT_S',
 'PUTD4313',
 'P_UTD431H_ROUT_S',
 'U1D_HEP',
 'U2D_HEP',
 'U3D_HEP',
 'DDTP1',
 'DDTP2',
 'DDTP3',
 'DDTP4',
 'DDTP5',
 'DDTP6',
 'DDTP7',
 'DDTP8',
 'DDTP9',
 'DFLU1',
 'DFLU2',
 'DFLU3',
 'DFLU4',
 'DFLU5',
 'DFLU6',
 'DFLU7',
 'DFLU8',
 'DFLU9',
 'DHEPA1',
 'DHEPA2',
 'DHEPA3',
 'DHEPA4',
 'DHEPA5',
 'DHEPA6',
 'DHEPA7',
 'DHEPA8',
 'DHEPA9',
 'DHEPB1',
 'DHEPB2',
 'DHEPB3',
 'DHEPB4',
 'DHEPB5',
 'DHEPB6',
 'DHEPB7',
 'DHEPB8',
 'DHEPB9',
 'DHIB1',
 'DHIB2',
 'DHIB3',
 'DHIB4',
 'DHIB5',
 'DHIB6',
 'DHIB7',
 'DHIB8',
 'DHIB9',
 'DMMR1',
 'DMMR2',
 'DMMR3',
 'DMMR4',
 'DMMR5',
 'DMMR6',
 'DMMR7',
 'DMMR8',
 'DMMR9',
 'DMP1',
 'DMP2',
 'DMP3',
 'DMP4',
 'DMP5',
 'DMP6',
 'DMP7',
 'DMP8',
 'DMP9',
 'DMPRB1',
 'DMPRB2',
 'DMPRB3',
 'DMPRB4',
 'DMPRB5',
 'DMPRB6',
 'DMPRB7',
 'DMPRB8',
 'DMPRB9',
 'DPCV1',
 'DPCV2',
 'DPCV3',
 'DPCV4',
 'DPCV5',
 'DPCV6',
 'DPCV7',
 'DPCV8',
 'DPCV9',
 'DPOLIO1',
 'DPOLIO2',
 'DPOLIO3',
 'DPOLIO4',
 'DPOLIO5',
 'DPOLIO6',
 'DPOLIO7',
 'DPOLIO8',
 'DPOLIO9',
 'DRB1',
 'DRB2',
 'DRB3',
 'DRB4',
 'DRB5',
 'DRB6',
 'DRB7',
 'DRB8',
 'DRB9',
 'DROT1',
 'DROT2',
 'DROT3',
 'DROT4',
 'DROT5',
 'DROT6',
 'DROT7',
 'DROT8',
 'DROT9',
 'DVRC1',
 'DVRC2',
 'DVRC3',
 'DVRC4',
 'DVRC5',
 'DVRC6',
 'DVRC7',
 'DVRC8',
 'DVRC9',
 'DTP1_AGE',
 'DTP2_AGE',
 'DTP3_AGE',
 'DTP4_AGE',
 'DTP5_AGE',
 'DTP6_AGE',
 'DTP7_AGE',
 'DTP8_AGE',
 'DTP9_AGE',
 'FLU1_AGE',
 'FLU2_AGE',
 'FLU3_AGE',
 'FLU4_AGE',
 'FLU5_AGE',
 'FLU6_AGE',
 'FLU7_AGE',
 'FLU8_AGE',
 'FLU9_AGE',
 'HEA1_AGE',
 'HEA2_AGE',
 'HEA3_AGE',
 'HEA4_AGE',
 'HEA5_AGE',
 'HEA6_AGE',
 'HEA7_AGE',
 'HEA8_AGE',
 'HEA9_AGE',
 'HEP1_AGE',
 'HEP2_AGE',
 'HEP3_AGE',
 'HEP4_AGE',
 'HEP5_AGE',
 'HEP6_AGE',
 'HEP7_AGE',
 'HEP8_AGE',
 'HEP9_AGE',
 'HIB1_AGE',
 'HIB2_AGE',
 'HIB3_AGE',
 'HIB4_AGE',
 'HIB5_AGE',
 'HIB6_AGE',
 'HIB7_AGE',
 'HIB8_AGE',
 'HIB9_AGE',
 'MMR1_AGE',
 'MMR2_AGE',
 'MMR3_AGE',
 'MMR4_AGE',
 'MMR5_AGE',
 'MMR6_AGE',
 'MMR7_AGE',
 'MMR8_AGE',
 'MMR9_AGE',
 'MP1_AGE',
 'MP2_AGE',
 'MP3_AGE',
 'MP4_AGE',
 'MP5_AGE',
 'MP6_AGE',
 'MP7_AGE',
 'MP8_AGE',
 'MP9_AGE',
 'MPR1_AGE',
 'MPR2_AGE',
 'MPR3_AGE',
 'MPR4_AGE',
 'MPR5_AGE',
 'MPR6_AGE',
 'MPR7_AGE',
 'MPR8_AGE',
 'MPR9_AGE',
 'PCV1_AGE',
 'PCV2_AGE',
 'PCV3_AGE',
 'PCV4_AGE',
 'PCV5_AGE',
 'PCV6_AGE',
 'PCV7_AGE',
 'PCV8_AGE',
 'PCV9_AGE',
 'POL1_AGE',
 'POL2_AGE',
 'POL3_AGE',
 'POL4_AGE',
 'POL5_AGE',
 'POL6_AGE',
 'POL7_AGE',
 'POL8_AGE',
 'POL9_AGE',
 'RB1_AGE',
 'RB2_AGE',
 'RB3_AGE',
 'RB4_AGE',
 'RB5_AGE',
 'RB6_AGE',
 'RB7_AGE',
 'RB8_AGE',
 'RB9_AGE',
 'ROT1_AGE',
 'ROT2_AGE',
 'ROT3_AGE',
 'ROT4_AGE',
 'ROT5_AGE',
 'ROT6_AGE',
 'ROT7_AGE',
 'ROT8_AGE',
 'ROT9_AGE',
 'VRC1_AGE',
 'VRC2_AGE',
 'VRC3_AGE',
 'VRC4_AGE',
 'VRC5_AGE',
 'VRC6_AGE',
 'VRC7_AGE',
 'VRC8_AGE',
 'VRC9_AGE',
 'XDTPTY1',
 'XDTPTY2',
 'XDTPTY3',
 'XDTPTY4',
 'XDTPTY5',
 'XDTPTY6',
 'XDTPTY7',
 'XDTPTY8',
 'XDTPTY9',
 'XFLUTY1',
 'XFLUTY2',
 'XFLUTY3',
 'XFLUTY4',
 'XFLUTY5',
 'XFLUTY6',
 'XFLUTY7',
 'XFLUTY8',
 'XFLUTY9',
 'XHEPTY1',
 'XHEPTY2',
 'XHEPTY3',
 'XHEPTY4',
 'XHEPTY5',
 'XHEPTY6',
 'XHEPTY7',
 'XHEPTY8',
 'XHEPTY9',
 'XHIBTY1',
 'XHIBTY2',
 'XHIBTY3',
 'XHIBTY4',
 'XHIBTY5',
 'XHIBTY6',
 'XHIBTY7',
 'XHIBTY8',
 'XHIBTY9',
 'XMMRTY1',
 'XMMRTY2',
 'XMMRTY3',
 'XMMRTY4',
 'XMMRTY5',
 'XMMRTY6',
 'XMMRTY7',
 'XMMRTY8',
 'XMMRTY9',
 'XPCVTY1',
 'XPCVTY2',
 'XPCVTY3',
 'XPCVTY4',
 'XPCVTY5',
 'XPCVTY6',
 'XPCVTY7',
 'XPCVTY8',
 'XPCVTY9',
 'XPOLTY1',
 'XPOLTY2',
 'XPOLTY3',
 'XPOLTY4',
 'XPOLTY5',
 'XPOLTY6',
 'XPOLTY7',
 'XPOLTY8',
 'XPOLTY9',
 'XROTTY1',
 'XROTTY2',
 'XROTTY3',
 'XROTTY4',
 'XROTTY5',
 'XROTTY6',
 'XROTTY7',
 'XROTTY8',
 'XROTTY9',
 'XVRCTY1',
 'XVRCTY2',
 'XVRCTY3',
 'XVRCTY4',
 'XVRCTY5',
 'XVRCTY6',
 'XVRCTY7',
 'XVRCTY8',
 'XVRCTY9',
 'INS_STAT2_I',
 'INS_BREAK_I']

In [200]:
df.type

AttributeError: 'list' object has no attribute 'type'

NameError: name 'columns' is not defined